/*.wrap {*/
    /*display: block;*/
    /*padding-bottom: 200px;*/
    /*height: 100vh;*/
    /*background: lightgray;*/
/*}*/

.form {
    width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 25px 30px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    background: white;
}