.admin-table {
  position: relative;
  padding-bottom: 60px;
}
.admin-table .rc-pagination-item-active {
  background-color: #007bff;
  color: white;
}
.admin-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 60px;
  display: flex;
  align-content: center;
  align-items: center;
  border-top: 1px solid #c2c2c2;
}
.admin-table .modal {
    display: block;
}
.admin-table th .grey {
  background: #6c757d;
  border-color: #6c757d;
}
.admin-table table {
  z-index: 0;
}
.table select {
  width: 100%;
  height: 100%;
  border: none;
}

tbody th {
  border: none;
}
.breeds-item tr {
  display: flex;
  flex-wrap: nowrap;
}
.breeds-item th{
  border: none;

}
.breeds-contrls {
  display: flex;
}
table .hidden {
  display: none;
}
body > * {
  background: white;
}
.admin-table .broods {
  width: 100%;
  z-index: auto;
}
.social {
  width: 100%;
}
.viber-icon {
  background-image: url("./img/viber.png");
  background-repeat: no-repeat;
  background-position: center;
}
.facebook-icon {
  background-image: url("./img/facebook.png");
  background-repeat: no-repeat;
  background-position: center;
}
.telegram-icon {
  background-image: url("./img/telegram.png");
  background-repeat: no-repeat;
  background-position: center;
}
.whatsapp-icon {
  background-image: url("./img/whatsapp.png");
  background-repeat: no-repeat;
  background-position: center;
}
.filters{
  position: absolute;
}
.reset, .exit {
  position: absolute;
}
.exit {
  left: 200px;
}
.filters {
  left: 5px;
}
.pagination {
  display: flex;
  justify-content: center;
}
table .hidden {
  display: none;
}
.choose {
  width: 100%;
  display: block;
  z-index: 100;
}
.choose button{
  width: 50%;
  border: 1px solid #c2c2c2;
  padding: 10px 0;
}
.choose .selectedBtn {
  background: #013771;
}
.admin-btn {
  position: absolute;
  right: 125px;
}
.reg-user {
  position: absolute;
  right: 5px;
}
.logs-btn {
    position: absolute;
    right: 207px;
}
button {
  cursor: pointer;
}
.admin-block {
  display: flex;
  position: fixed;
  flex-direction: column;
  right: 0;
  height: 500px;
  width: auto;
  top: 90px;
  z-index: 999;
  background: white;
  transition: 2s;
  padding: 15px 5px;
  border-radius: 0 5px 7px 0;
  border: 2px solid #c2c2c2;
  overflow: scroll;
  border-radius: 5px;
}
.admin-block .close {
  position: absolute;
  top: -15px;
  right: 5px;
}
.admin-block .close span {
  font-size: 18px;
}
.hidden-a {
  display: none;
  position: absolute;
  right: -100%;
  transition: 2s;
}
.admin-table .pairs {
  min-width: 100%;
  margin-bottom: 5px;

}
.down-icon, .delete-icon, .edit-icon{
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.down-icon {
  background-image: url("./img/down-arrow.png");
}
.delete-icon {
  background-image: url("./img/garbage.png");
}
.edit-icon {
  background-image: url("./img/edit.png");
}
th .modal {
  display: block;
  border: 2px solid black;
  border-radius: 5px;
}
.viber, .viber-false, .telegram, .telegram-false, .whats, .whats-false, .facebook, .facebook-false, .social-link, .social-link-false{
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.viber{
  background-image: url("./img/viber (1).png");
}
.viber-false{
  background-image: url("./img/viber.png");
}
.telegram{
  background-image: url("./img/telegram (1).png");
}
.telegram-false{
  background-image: url("./img/telegram.png");
}
.whats{
  background-image: url("./img/whatsapp.png");
}
.whats-false{
  background-image: url("./img/whatsapp-logo.png");
}
.facebook{
  background-image: url("./img/facebook.png");
}
.facebook-false{
  background-image: url("./img/facebook-logo-in-circular-button-outlined-social-symbol.png");
}
.social-link{
  background-image: url("./img/instagram (1).png");
}
.social-link-false{
  background-image: url("./img/instagram.png");
}
.social-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.admin-table .table-custom {
  display: block;
  width: 100%;
}
.admin-table .table-custom .thead {
  display: block;
  width: 100%;
  position: fixed;
  top: 43px;
  background: white;
  font-weight: bold;
  z-index: 100;
}
.admin-table .table-custom .thead tr th {
  border-bottom: 2px solid black;
}
.admin-table .table-custom .tbody {
  display: block;
  width: 100%;
  margin-top: 86px;
}
.admin-table .table-custom .thead tr th {
  padding: 8px 2px;
  justify-content: center;
  align-items: center;
}
.admin-table .table-custom .thead tr, .admin-table .table-custom .tbody .user-item {
  width: 100%;
  display: flex;
  vertical-align: top;
}
.admin-table .table-custom .input {
  border: 1px solid #c2c2c2;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
  padding: 2px 2px;
  display: inline-block;
  width: 2%;}
.admin-table .table-custom .state {
  border: 1px solid #c2c2c2;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
  padding: 2px 2px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: calc(11% - 6px);}
.admin-table .table-custom .manager {
  border: 1px solid #c2c2c2;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
  padding: 2px 2px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: calc(11% - 6px)}
.admin-table .table-custom .task {
  border: 1px solid #c2c2c2;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
  padding: 2px 2px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: calc(22% - 6px);}
.task-wrap{
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.admin-table .table-custom .task .task-wrap .btn {
  font-size: 12px;
  padding: 0 7px;
  flex-basis: 20%;
}
.admin-table .table-custom .task .task-wrap select{
  width: 60%;
}
.admin-table .table-custom .task .task-wrap .DayPickerInput {
  width: 40%;
}
.task-calendar-wrap {
  display: inherit;
}
@media (max-width: 1440px) {
  .task-wrap{
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .admin-table .table-custom .task .task-wrap .btn {
    width: 60%;
    padding: 5px 0;

  }
}
.task-item{
  position: relative;
  margin-top: 5px;
  padding-right: 14px;
}
.task-item .delete-task{
  position: absolute;
  right: 0;
}
.task-deadline {
  font-weight: bold;
  white-space: nowrap;
}
.admin-table .table-custom .company {
  border: 1px solid #c2c2c2;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
  padding: 2px 2px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: calc(14% - 6px)}
.admin-table .table-custom .contacts {
  border: 1px solid #c2c2c2;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
  padding: 2px 2px 7px 2px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: calc(15% - 6px)}
.admin-table .table-custom .breeds-u {
  border: 1px solid #c2c2c2;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
  padding: 2px 2px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: calc(14% - 6px);}
.admin-table .table-custom .pairs-u {
  position: relative;
  border: 1px solid #c2c2c2;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
  padding: 2px 2px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: calc(26% - 6px);}
.admin-table .table-custom .calendar {
  border: 1px solid #c2c2c2;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
  padding: 2px 2px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  width: calc(9% - 6px);}
.admin-item {
  font-size: 10px;
  display: inline-grid;
  border-bottom: 1px solid;
  grid-template-columns: 100px 200px 70px 80px 100px;
}
.admin-block-wrap {
  display: grid;
}
.admin-item .btn {
  padding: 2px 2px;
  margin-left: 1px;
}
.admin-item span {
  padding-right: 3px;
  margin-right: 2px;
  border-right: 1px solid black;
}
.DayPickerInput input{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.status-item {
  display: flex;
  justify-content: space-between;
}
.child-item {
    display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  padding: 7px 0;
    width: 47px;
    text-align: center;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  position: relative;
}
.delete-child {
  position: absolute;
  top:-4px;
}
.edit-profile, .add-u-breed {
  width: 16px;
  height: 16px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: 1px;
  top: 1px;
  cursor: pointer;
}
.edit-profile {
  background-image: url("./img/pencil-edit-button.png");
}
.add-u-breed{
  background-image: url("img/plus.png");
}
.u-phone-icon, .u-name-icon, .u-location-icon, .u-email-icon, .u-calendar-icon, .u-comment-icon{
  height: 16px;
  width: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 3px;
  margin-top: 1px;
}
.u-name-icon {
  background-image: url("./img/avatar.png");
}
.u-calendar-icon {
  background-image: url("./img/calendar.png");
}
.u-location-icon {
  background-image: url("./img/placeholder.png");
}
.u-email-icon {
  background-image: url("./img/envelope.png");
}
.u-phone-icon {
  background-image: url("./img/icon.png");
}
.u-comment-icon {
  background-image: url("./img/comment-icon.png");
}
.admin-table th .modal-content{
  max-height: 600px;
}
.admin-table th .modal-dialog-centered {
  max-height: 560px;
  margin-top: 32px;
}
.admin-table table th .form-group{
  margin-bottom: 5px;
}
.admin-table table th .modal-dialog {
  margin-top: 15px;
}
.admin-table table th .modal-body, .admin-table table th .modal-footer {
  padding: 5px 15px;
}
.addBreedList {
  max-height: 230px;
  overflow: scroll;
  font-size: 12px;
  list-style: none;
  text-align: left;
}
.login-for-admin {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("./img/log-in.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 1px;
  top: 22px;
}

.up_down {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("./img/updown.png");
  background-repeat: no-repeat;
}
