.admin-table .filters-block {
    width: 230px;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    z-index: 999;
    background: white;
    transition: 0s;
    padding: 15px 5px;
    border-radius: 0 5px 7px 0;
    border: 2px solid #c2c2c2;
}

.container h5 {
    margin-bottom: 15px;
}
.admin-table .hidden-f {
    display: none;
    position: fixed;
    left: -100%;
    transition: 0;
}
.container select, input {
    margin-bottom: 7px;
    border-radius: 3px;
}
.container select {
    height: 35px;
}
.container button {
    margin: 10px 0;
}
.breed-input {
    width: 100%;
    text-align: left;
    position: relative;
}
.breed-input > * {
    width: 100%;
}
.breeds-list {
    display: none;
    list-style: none;
    padding: 0;
    max-height: 220px;
    height: auto;
    overflow: scroll;
    margin-bottom: 20px;
    position: absolute;
    top: 23px;
    right: -216px;
    border: 1px solid darkgrey;
    z-index: 100;
}
.breed-input:hover .breeds-list{
    display: block;
}
.form-check {
    text-align: left;
}
.filter-controlls {
    width: 100%;
}
.filter-controlls > * {
    width: 50%;
}
table th .btn-secondary {
    font-size: 10px;
    text-align: center;
    padding: 0;
    height: 16px;
    min-width: 13px;
    max-width: 13px;
    margin-left: 3px;
}
table th p {
    font-size: 14px;
}
table{
    line-height: 1.2;
}
.filters-block .close {
    position: absolute;
    top: 0;
    right: 10px;
}
.reset {
    left: 100px;
}

.admin-table .filters-block .form-control {
    padding: 3px 5px;
    font-size: 13px!important;
}
.admin-table .filters-block select{
    height: 27px;
    font-size: 13px!important;
}
.admin-table .filters-block .form-check label{
    font-size: 13px!important;
}
@media(max-height: 665px) {
    .admin-table .filters-block {
        height: 550px;
        display: block;
        /*overflow: scroll;*/
    }
}