body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  word-spacing: 0em;
}
*{
  font-weight: inherit;
  font-size: 14px;
}
.table-custom select {
  margin-bottom: 5px;
  border: 1px solid #c2c2c2;
}
table::-webkit-scrollbar{
  display: none;
}
